/* ==========================================================================
   Loading
   ========================================================================== */

.loading-pane {
  @extend .antialiased;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9997;
  padding: $global-spacing * 2;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: $base-font-bold;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: $accent-color;
    width: 100%;
    height: 100%;
    animation: 2s ease-in-out 0s infinite loading-pane-pulse;
    opacity: 0.92;
  }

  p {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@include keyframes(loading-pane-pulse) {
  0% { background: $accent-color; }
  32% { background: $primary-color; }
  64% { background: shade($accent-color, 16%); }
  100% { background: $accent-color; }
}


/* Loading pane react animation
   ========================================================================== */

.loading-pane-enter {
  transform: translate3d(0, 0, 0);
  transition: opacity 0.32s ease 0s, visibility 0.32s linear 0s;
  opacity: 0;
  visibility: hidden;

  &.loading-pane-enter-active {
    opacity: 1;
    visibility: visible;
  }
}

.loading-pane-leave {
  transition: opacity 0.32s ease 0s, visibility 0.32s linear 0s;
  opacity: 1;
  visibility: visible;

  &.loading-pane-leave-active {
    opacity: 0;
    visibility: hidden;
  }
}