/* ==========================================================================
   Popovers
   ========================================================================== */

.popover {
  position: relative;
  text-align: initial;
  font-size: 1rem;
  line-height: 1.5;
}

.popover__contents {
  @extend %popover-skin;
  position: relative;
  z-index: 1;
  padding: $global-spacing;
  overflow: hidden;

  > *:last-child {
    margin-bottom: 0;
  }
}

a.popover__contents {
  color: inherit;

  &:hover {
    opacity: 1;
    background-color: tint($link-color, 92%);
  }
}

/* popover header
   ========================================================================== */

.popover__header {
  display: flex;
  width: 100%;
  margin-bottom: $global-spacing;

  > *:last-child {
    margin-bottom: 0;
  }
}

.popover__headline {
  > *:last-child {
    margin-bottom: 0;
  }
}

.popover__title {
  @include heading(1.25rem);
  margin: 0;

  a.popover__contents & {
    color: $link-color;
  }
}

.popover__subtitle {
  @extend .heading-alt;
  font-size: 0.75rem;
  line-height: 1rem;
  margin-top: $global-spacing / 4;
}


/* popover body
   ========================================================================== */

.popover__body {
  margin-bottom: $global-spacing;

  > *:last-child {
    margin-bottom: 0;
  }
}

.popover__summary {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: tint($base-color, 36%);

  > *:last-child {
    margin-bottom: 0;
  }
}


/* popover footer
   ========================================================================== */

.popover__footer {
  > *:last-child {
    margin-bottom: 0;
  }
}

/* popover actions
   ========================================================================== */

.popover__actions {
  flex: 1 1 auto;
  text-align: right;
  font-size: 0;
  white-space: nowrap;

  * {
    vertical-align: top;
  }

  > *:last-child {
    margin-right: -$global-spacing / 4;
  }
}


/**
 * "poa-" prefix stands for "popover action"
 */

[class^="poa-"],
[class*=" poa-"] {
  @extend .button, .button--small, .button--primary-plain, .button--text-hidden;
}

.poa-ellipsis::before {
  @extend %collecticon-ellipsis-vertical;
}

.poa-download::before {
  @extend %collecticon-download-3;
}

.poa-question::before {
  @extend %collecticon-circle-question;
}

.poa-pencil::before {
  @extend %collecticon-pencil;
}