/* ==========================================================================
   Projects: Hub
   ========================================================================== */

/* Actions */

.b-new {
  @extend .button, .button--primary, .button--medium;
  vertical-align: top;
  
  &::before {
    @extend %collecticon-sm-plus;
  }
}


/* Project list */

.projects-card-list {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    @include column(4/12, $cycle: 3);
    margin-top: $global-spacing * 2;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      margin-top: 0;
    }
  }
}


/* flex experiment */

.projects-card-list {
  display: flex;
  flex-wrap: wrap;
}

.projects-card-list > li {
  display: flex;
}

.projects-card-list .card,
.projects-card-list .card__contents {
  display: flex;
  flex-wrap: wrap;
}