/* ==========================================================================
   Projects: Single
   ========================================================================== */

/* Project setup blocks
   ========================================================================== */

.psb-grid {
  display: flex;
  flex-wrap: wrap;

  .psb {
    @include column(6/12, $cycle: 2);
    margin-top: $global-spacing * 2;
    display: flex;

    &:nth-child(1),
    &:nth-child(2) {
      margin-top: 0;
    }
  }
}

.psb {
  .card__contents {
    position: relative;
    padding: ($global-spacing * 2) ($global-spacing * 2) ($global-spacing * 2) ($global-spacing * 5);

    &::before {
      position: absolute;
      left: $global-spacing * 2;
      font-size: 2rem;
      opacity: 0.32;
    }

    &::after {
      @extend %collecticon-sm-tick;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 3rem;
      height: 3rem;
      line-height: 3rem;
      color: #fff;
      text-align: right;
      background: linear-gradient(135deg, transparent 50%, $success-color 0);
      -webkit-backface-visibility: hidden;
      padding: 0.5rem;
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.24s ease 0s;
    }
  }
}

.psb--complete {
  opacity: 1;
}

.psb--profile .card__contents::before {
  @extend %collecticon-page-cog;
}

.psb--villages .card__contents::before {
  @extend %collecticon-houses;
}

.psb--admin-bounds .card__contents::before {
  @extend %collecticon-fence;
}

.psb--road-network .card__contents::before {
  @extend %collecticon-road;
}

.psb--poi .card__contents::before {
  @extend %collecticon-marker;
}

.diptych {
  @include column(6/12);
  margin-top: $global-spacing * 2;

  &:nth-child(1),
  &:nth-child(2) {
    margin-top: 0;
  }

  .inpage__section-title {
    text-align: left;
  }
}



/* Details list
   ========================================================================== */

.project-details-list {
  list-style: none;
  margin: 0 (-$global-spacing) 0 0;
  padding: ($global-spacing * 1.5) 0 ($global-spacing * 1.5) ($global-spacing * 4);

  li:not(:last-child) {
    box-shadow: inset 0 -1px 0 0 $base-alpha-color;
    padding-bottom: $global-spacing;
    margin: 0 0 $global-spacing 0;
  }
}

.detail-download {
  @extend .button, .button--primary-plain, .button--text-hidden;

  &::before {
    @extend %collecticon-download-3;
  }
}

.project-detail {
  position: relative;
  padding-right: $global-spacing * 4;

  > *:last-child {
    margin: 0;
  }

  &::before,
  .action-wrapper {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0;
  }

  &::before {
    left: - $global-spacing * 3.5;
    font-size: 2rem;
    opacity: 0.32;
  }

  .action-wrapper {
    right: $global-spacing;
  }

  &.description::before {
    @extend %collecticon-text-block;
  }

  &.profile::before {
    @extend %collecticon-page-cog;
  }

  &.villages::before {
    @extend %collecticon-houses;
  }

  &.admin-bounds::before {
    @extend %collecticon-fence;
  }
}

.project-detail__title {
  @include heading(1rem);
  margin: 0;
}


/* Scenarios list
   ========================================================================== */

.scenarios-card-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  > li {
    @include column(6/12, $cycle: 2);
    margin-top: $global-spacing;
    display: flex;

    &:nth-child(1),
    &:nth-child(2) {
      margin-top: 0;
    }
  }

  .card,
  .card__contents {
     width: 100%;
  }
}
