/* ==========================================================================
   Scenario: Single
   ========================================================================== */

/* iD Editor
   ========================================================================== */

.ideditor-wrapper {
  @extend .clearfix;
  position: relative;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  height: 32rem;
  background: tint($base-color, 96%);

  > * {
    z-index: 190;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: 200;
    left: 0;
    height: 1px;
    width: 100%;
    pointer-events: none;
    background: $base-alpha-color;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}


/* Results
   ========================================================================== */

.card--analysis-result {
  margin-bottom: $global-spacing * 3;

  .card__contents {
    padding: $global-spacing * 2;
  }

  .table-wrapper {
    margin: 0 (-$global-spacing);
  }
}

.empty-content {
  border: 4px dashed $base-alpha-color;
  border-radius: $base-border-radius;
  padding: $global-spacing * 4;
  text-align: center;

  .prose {
    max-width: 28rem;
    margin: 0 auto ($global-spacing * 2) auto;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.empty-content__cta {
  display: inline-block;
  max-width: 28rem;
}
